#doanvan2 {
  color: aqua;
  font-size: 20px;
}
.doanvan3 {
  color: crimson;
  text-align: center;
}
h1 {
  opacity: 50%;
  font-style: italic;
}
.trangsucnu {
  font-size: 14px;
  line-height: 115%;
}
.gia {
  opacity: 50%;
  font-style: italic;
}
