/* Đứng sát ngay sau dùng +
h1 + h2 {
  color: red;
}
.demo.demo2 + h3 {
  color: blue;
} */

/* chọn tất cả thẻ s1 nằm sau thẻ s2 */
/* S2 ~ S1 */
/* h1 ~ h3 {
  color: blue;
}
div ~ div {
  color: red;
} */

/* chọn all thẻ p là con trực tiếp của div */
/* div > p {
  color: crimson;
} */
h1 ~ h2 {
  color: red;
}
