/* [href] {
  color: brown;
}
[target="_blank"] {
  color: blue;
} */

/* chọn tất cả các thuộc tính title có chứa từ tuhoc.cc 
cú pháp: [attribute ~= value]
*/
/* [title~="tuhoc.cc"] {
  color: blue;
} */

/* chọn tất cả các thuộc tính title cứ có chứa tuhoc.cc  
cú pháp: [attribute *= value]
*/
/* [title*="tuhoc.cc"] {
  color: red;
} */

/* chọn thuộc tính title có chứ bắt đầu bằng từ pic, pic-3 thì cũng được 
còn pic 2, pic 3 thì không được 
cú pháp: [attribute |= value]
*/
/* [title|="pic"] {
  color: red;
} */

/* chọn tất cả các thuộc tính title có giá trị bắt đầu bằng pic (không quan tâm phía sau pic là gì) 
cú pháp: [attribute ^= value]*/
/* [title^="pic"] {
  color: green;
} */

/* [title$="4"] {
  color: pink;
} */

/* chọn tất cả các thuộc tính href để đổi màu đỏ
[href] {
  color: rgb(240, 20, 49);
} */
/* chọn tất cả các thuộc tính target có giá trị _blank để đổi màu
[target="_blank"] {
  color: aqua;
} */

/* chọn tât cả các thuộc tính title có chứa giá trị son để đổi màu*/
/* [title~="son"] {
  color: crimson;
} */
/* chọn tất cả thuộc tính title có giá trị bắt đầu bằng son thì đổi màu không quan trọng phí sau son là gì */
/* [title^="son"] {
  color: coral;
} */
/* chọn tất cả các thuộc tính title có giá trị kết thúc bằng 3 để đổi màu */
/* [title$="3"] {
  color: brown;
} */
/* [title="ontap"] {
  color: orange;
} */

/* chọn tất cả các thẻ có thuộc tính title chứa giá trị ontap
các từ ontap123 thì không hợp lệ nhưng ontap 123 hợp lệ  */
/* [title~="ontap"] {
  color: red;
} */

/* chọn tất cả các thuộc tính title cứ có chứa giá trị ontap là đổi màu */
/* [title*="ontap"] {
  color: orange;
} */

/* chọn tất cả các thẻ có thuộc tính : bắt đầu bằng từ ontap, duy nhất ontap, ontap-123 cũng được
còn ontap_123 thì không được */
/* [title|="ontap"] {
  color: red;
} */

/* chọn tất cả các thẻ có thuộc tính: 1. title bắt đầu bằng từ on tap, 
còn nếu từ ontap ở giữa hay sau cùng đều không thỏa mãn */
/* [title^="ontap"] {
  color: red;
} */
/* chọn tất cả các thẻ có thuộc tính title và có giá trị kết thúc 123 */
[title$="123"] {
  color: green;
}
